body{
    background-color: $background-color;
    font-family: $main-font;
    color: $text-color;
}

h1{
    color: $primary-color;
    font-size: 3rem;
}

h2{
    color: $primary-color;
    font-size: 2rem;
}
