.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: $container-width;
    margin-inline: auto;
    margin-top: 5rem;
    gap: 2rem;
  }