.post-container{
    margin-block: 3rem;
    padding: 2rem;
    border: 1px solid $primary-color;
    border-radius: 1rem;

    & .post-title,
    & .post-content{
        margin-bottom: 1rem;
    }

    & .post-reaction{
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }
}