// COLORS
$background-color: #151118;
$text-color: #EBE7EE;
$primary-color: #839B6F;
$secondary-color: #0F0D12;
$accent-color: #748A60;

// SIZES
$container-width: 480px;

// FONTS
$main-font: 'McLaren', cursive;