// COLORS
$background-color: #151118;
$text-color: #ebe7ee;
$primary-color: #839b6f;
$secondary-color: #0f0d12;
$accent-color: #748a60;

// SIZES
$container-width: 480px;

// FONTS
$main-font: "McLaren", cursive;
